@import url('https://fonts.googleapis.com/css2? family = Roboto + Condensed: ital @ 0; 1 & display = swap'); 
*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;

}
.descuentos{
    background-color: aqua;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 33px;
    padding: 3px 1px 4px 47px;
    background-size: cover;
}

header {
    background-color: #00669F;
    color: white;
    height: 80px;
    padding: 8px 1px 17px 47px;
    position: sticky;
    top: 0;
    z-index: 10;
}
h1{
    font-size: 57px;
    font-weight: normal;
}

h2{
    text-align: center;
}
.container{
    border-radius: 20px 20px 0px 0px;
    height: 719px;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 699px;
    
}
.card {
    
    border-radius: 20px 20px 0px 0px;
    height: 643px;
    margin: 0 auto;
    margin-bottom: 350px;
    width: 610px;

}
.fas.fa-heart {
    color: #f00;
    font-size: 42px;
    padding: 23px;
}
.imagen{

    background-image: url(../img/bg-batman.jpg);
    background-size: cover;
    background-size: 180%;
    background-position: -400px -200px;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0px 0px;
    height: 330px;
    width: 610px;
    
}

.cara-batman{
    
    border-radius: 50%;
    background-image: url(../img/batman.jpg);
    background-position-x: 57%;
    background-repeat: no-repeat;
    background-size: 289.5%;
    height: 300px;
    left: 26%;
    width: 300px;
    position: absolute;
    top: -32%;

}
.texto{

    background-color: #F3F3F3;
    color: #333;
    font-style: normal;
    font-size: 30px;
    font-weight: normal;
    text-align: left;
    line-height: 42px;
    padding: 150px 30px 30px 30px;
    position: relative;

}



.info-batman{

    background-color: #00669F;
    color: white;
    display: block;
    font-size: 40px;
    height: 90px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
    text-decoration: none;
    width: 300px;

}

p{

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.imagen-2{

    background-image: url(../img/bg-wonderw.jpg);
    background-size: cover;
    background-size: 169%;
    background-position: -133px -100px;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0px 0px;
    height: 330px;
    width: 610px;
}
    

.cara-ww{
    
    border-radius: 50%;
    background-image: url(../img/wonderw.jpg);
    background-position-x: 57%;
    background-repeat: no-repeat;
    background-size: 112.5%;
    height: 300px;
    left: 26%;
    width: 300px;
    position: absolute;
    top: -32%;

}

.imagen-3{

    background-image: url(../img/bg-superman.jpg);
    background-size: cover;
    background-size: 299%;
    background-position: -292px -288px;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0px 0px;
    height: 403px;
    width: 612px;
    
}
.cara-superm{
    
    border-radius: 50%;
    background-image: url(../img/superman.jpg);
    background-position-x: 48%;
    background-repeat: no-repeat;
    background-size: 152.5%;
    height: 300px;
    left: 26%;
    width: 300px;
    position: absolute;
    top: -32%;

}

.derechos{
    background-color: #00669F;
    color: white;
    display: block;
    font-size: 37px;
    height: 90px;
    margin: 0 auto;
    padding: 27px;
    text-align: center;
    width: 100%;
    margin-top: 440px;
}
.fas.fa-plus-circle{
    font-size: 120px;
    color: #00669F;
    position: relative;
    left: 139%;
    top: 166%;
}
/* lslda */