@import url('https://fonts.googleapis.com/css2? family = Roboto + Condensed: ital @ 0; 1 & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.descuentos{
    background-color: #1CD1B0;
    font-size: 16px;
    padding: 3px 1px 4px 47px;
    
}

header {
    background-color: #00669F;
    height: 80px;
    padding: 8px 1px 17px 47px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tienda{
    position: relative;
    top: -5px;
}
h1{
    display: inline-block;
    font-size: 30px;
    color: white;
    top: 22px;
    left: 163px;
    font-size: 35px;
    position: absolute;
    font-weight: normal;
}

h2{
    font-family: "Inter", sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #333333;
    
}

.logIn {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 83px;

}

form{
    width: 620px;
   
}

form input {
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: Karla;
    font-weight: normal;
}

.select{
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: Karla;
    line-height: 25px;

}

textarea{
    height: 163px;
    width: 100%;
    padding: 22px 37px 38px 28px;
    font-size: 16px;
    line-height: 25px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
}
.campos{
    margin: 30px 0px;
    
}
.boton1{
    border-radius: 23.011px;
    background: #1CD1B0;
    border: none;
    font-family: "Karla";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    
}
.boton2{
    border-radius: 23.011px;
    background-color: #888888;
    color: white;
    border: none;
    font-family: "Karla";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.boton1,.boton2{
    width: 45%;
    margin: 2%;
}
input::placeholder{
    color: #000000;
}


footer{
    margin-top: 136px;
}
.registro{
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    color: #00669F;
}
span{
    color: #000000;
    
}
.derechos{
    background-color: #00669F;
    color: white;
    font-size: 21px;
    padding: 15px;
    text-align: center;
    height: 48px;
    
   
}