@import url('https://fonts.googleapis.com/css2? family = Roboto + Condensed: ital @ 0; 1 & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.descuentos{
    background-color: #1CD1B0;
    font-size: 16px;
    padding: 3px 1px 4px 47px;
}

header {
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 80px;
    padding: 8px 1px 17px 47px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.tienda{
    position: relative;
    top: -5px;
}

h1{
    color: white;
    display: inline-block;
    font-size: 30px;
    font-weight:normal;
    left: 163px;
    position: absolute;
    top: 22px;
}

h2{
    color: #333333;
    font-family: "Inter", sans-serif;
    font-size: 72px;
    font-weight: bold;
}

.logIn {
    margin: 0 auto;
    margin-top: 61px;
    max-width: 600px;
}

form{
    width: 620px;
}

form input {
    font-family: 'Karla';
    font-size: 20px;
    height: 60px;
    line-height: 25px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.select{
    font-size: 20px;
    height: 60px;
    margin-bottom: 20px ;
    padding: 10px;
    width: 100%;
}

textarea{
    height: 163px;
    width: 100%;
}

.campos{
    margin: 30px 0px;    
}

.boton1{
    background: #1CD1B0;
    border: none;
    border-radius: 23.011px;
    font-family: "Karla";
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    transition: all 1s;
    width: 100%;
}

.boton1:hover,.boton2:hover{
    transform: scale(1.1);
}

input::placeholder{
    color: #000000;
}

footer {
    margin-top: 103px;
}

.registro{
    color: #00669F;
    text-align: center;
    text-decoration: none;
}

span{
    color: #000000;
}

.derechos{
    background-color: #00669F;
    color: white;
    font-size: 21px;
    height: 48px;   
    padding: 15px;
    text-align: center;
}