/*Body*/

body{
    background-color: #fcfcfc98;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header {
     background-color: rgb(255, 255, 255);
     height: 45%;
     max-width: 90%;
     margin: auto;
     margin-top: 0em;
     margin-bottom: 3em;
}

.img1{
    border: 50PX;
    height: 17%;
    left: 20%;
    position:relative;
    top: 85px;
    width: 17%;
}

.img2 {
    height: 47%;
    left: 47%;
    position: absolute;
    top: 4px;
    width: 27%;
  
}
.item-detail{
    color: rgb(0, 26, 255);
    font-style: italic;
    font-size: 21px;
    font-weight: bold;
    left: 20%;
    position: relative;
    top: 100px;
    
}

/* Main */
main{
     background-color: rgba(255, 255, 255, 0.63);
     max-width: 90%;
     margin: auto;
     margin-top: 3em;
     margin-bottom: 3em;
     position: relative;
     }

 h1{
     background-color: #000000be;
     color: #ffffff;
     font-size: 30px;
     letter-spacing: 0.4em;
     max-width: 100%;
     text-align: center;
     text-transform: uppercase;
    }
  
 .img3{
     height: 47%;
     left: 27%;
     position:relative;
     width: 47%;
    
 }

 h2{
     color: #000000;
     text-align:left;

 }
 
 .parr1 {
     font-size: 17px;
     line-height: 30px;
     text-align: justify;
     
 }
 .item{
    font-style: italic;
    font-weight: bold;
 }

 li{
     line-height: 25px;
     margin-bottom: 0em;
     margin: 10px;
     margin-top: 0em;
 }

/* Footer */
footer{
     background-color: #0000008f;;
     color: white;
     font-size: 24px;
     letter-spacing: 0.3em;
     text-align: center;
 }
 
 footer p{
     font-size: 24px;
     margin: auto;
 } 